:root {
  --wp--preset--color--primary: #3f37c9;
  --wp--preset--color--secondary: #787670;
  --wp--preset--color--foreground: #555451;
  --wp--preset--color--background: #ffffff;
  --wp--preset--color--tertiary: #edf2fb; /* Figma */

  --wp--preset--font-size--small: 0.833rem;
  --wp--preset--font-size--medium: 1rem;
  --wp--preset--font-size--large: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.471), 1.2rem);
  --wp--preset--font-size--x-large: clamp(1.2rem, 1.2rem + ((1vw - 0.2rem) * 1.242), 1.728rem);
  --wp--preset--font-size--xx-large: clamp(1.728rem, 1.728rem + ((1vw - 0.2rem) * 0.814), 2.074rem);
  --wp--preset--font-size--xxx-large: clamp(2.074rem, 2.074rem + ((1vw - 0.2rem) * 2.146), 2.986rem);

  --wp--preset--spacing--30: 0.5rem;
  --wp--preset--spacing--40: 0.875rem;
  --wp--preset--spacing--50: 1.75rem;
  --wp--preset--spacing--60: 2.625rem;
  --wp--preset--spacing--70: 3.5rem;
  --wp--preset--spacing--80: 5.25rem;

  --wp--style--global--content-size: 620px;
  --wp--style--global--wide-size: 1200px;
  --wp--style--root--padding-top: var(--wp--preset--spacing--50);
  --wp--style--root--padding-right: var(--wp--preset--spacing--50);
  --wp--style--root--padding-bottom: var(--wp--preset--spacing--50);
  --wp--style--root--padding-left: var(--wp--preset--spacing--50);

  --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
  --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}

.has-primary-color {
  color: var(--wp--preset--color--primary) !important;
}

.has-secondary-color {
  color: var(--wp--preset--color--secondary) !important;
}

.has-foreground-color {
  color: var(--wp--preset--color--foreground) !important;
}

.has-background-color {
  color: var(--wp--preset--color--background) !important;
}

.has-tertiary-color {
  color: var(--wp--preset--color--tertiary) !important;
}

.has-primary-background-color {
  background-color: var(--wp--preset--color--primary) !important;
}

.has-secondary-background-color {
  background-color: var(--wp--preset--color--secondary) !important;
}

.has-foreground-background-color {
  background-color: var(--wp--preset--color--foreground) !important;
}

.has-background-background-color {
  background-color: var(--wp--preset--color--background) !important;
}

.has-tertiary-background-color {
  background-color: var(--wp--preset--color--tertiary) !important;
}

.has-primary-border-color {
  border-color: var(--wp--preset--color--primary) !important;
}

.has-secondary-border-color {
  border-color: var(--wp--preset--color--secondary) !important;
}

.has-foreground-border-color {
  border-color: var(--wp--preset--color--foreground) !important;
}

.has-background-border-color {
  border-color: var(--wp--preset--color--background) !important;
}

.has-tertiary-border-color {
  border-color: var(--wp--preset--color--tertiary) !important;
}

/* ----- Spacing ----- */

.wp-site-blocks {
  padding-top: var(--wp--style--root--padding-top);
  padding-bottom: var(--wp--style--root--padding-bottom);
}

.has-global-padding {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
}

.has-global-padding :where(.has-global-padding:not(.wp-block-block)) {
  padding-right: 0;
  padding-left: 0;
}

.has-global-padding>.alignfull {
  margin-right: calc(var(--wp--style--root--padding-right) * -1);
  margin-left: calc(var(--wp--style--root--padding-left) * -1);
}

.has-global-padding :where(.has-global-padding:not(.wp-block-block))>.alignfull {
  margin-right: 0;
  margin-left: 0;
}

.has-global-padding>.alignfull:where(:not(.has-global-padding):not(.is-layout-flex):not(.is-layout-grid))> :where([class*="wp-block-"]:not(.alignfull):not([class*="__"]), .wp-block:not(.alignfull), p, h1, h2, h3, h4, h5, h6, ul, ol) {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
}

.has-global-padding :where(.has-global-padding)>.alignfull:where(:not(.has-global-padding))> :where([class*="wp-block-"]:not(.alignfull):not([class*="__"]), .wp-block:not(.alignfull), p, h1, h2, h3, h4, h5, h6, ul, ol) {
  padding-right: 0;
  padding-left: 0;
}

.wp-site-blocks>.alignleft {
  float: left;
  margin-right: 2em;
}

.wp-site-blocks>.alignright {
  float: right;
  margin-left: 2em;
}

.wp-site-blocks>.aligncenter {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

:where(.wp-site-blocks)>* {
  margin-block-start: var(--wp--preset--spacing--50);
  margin-block-end: 0;
}

:where(.wp-site-blocks)> :first-child:first-child {
  margin-block-start: 0;
}

:where(.wp-site-blocks)> :last-child:last-child {
  margin-block-end: 0;
}

.is-layout-constrained>.alignwide {
  max-width: var(--wp--style--global--wide-size);
  margin: auto; /* Center the block */
}

.wp-block-columns-is-layout-flex {
  flex-wrap: nowrap;
  gap: var(--wp--preset--spacing--50);
  justify-content: flex-start;
}

/* ----- Typography ----- */

.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
  font-size: var(--wp--preset--font-size--x-large) !important;
}

.has-xx-large-font-size {
  font-size: var(--wp--preset--font-size--xx-large) !important;
}

.has-xxx-large-font-size {
  font-size: var(--wp--preset--font-size--xxx-large) !important;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-style: normal;
  font-weight: 700;
  line-height: calc(1em + 0.75rem);
}

/* ----- Columns ----- */

.wp-block-columns {
  align-items: normal !important;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap !important
}

@media (min-width:782px) {
  .wp-block-columns {
    flex-wrap: nowrap !important
  }
}

.wp-block-columns.are-vertically-aligned-top {
  align-items: flex-start
}

.wp-block-columns.are-vertically-aligned-center {
  align-items: center
}

.wp-block-columns.are-vertically-aligned-bottom {
  align-items: flex-end
}

@media (max-width:781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    flex-basis: 100% !important
  }
}

@media (min-width:782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    flex-basis: 0;
    flex-grow: 1
  }

  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*=flex-basis] {
    flex-grow: 0
  }
}

.wp-block-columns.is-not-stacked-on-mobile {
  flex-wrap: nowrap !important
}

.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column {
  flex-basis: 0;
  flex-grow: 1
}

.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column[style*=flex-basis] {
  flex-grow: 0
}

:where(.wp-block-columns) {
  margin-bottom: 1.75em
}

:where(.wp-block-columns.has-background) {
  padding: 1.25em 2.375em
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word
}

.wp-block-column.is-vertically-aligned-top {
  align-self: flex-start
}

.wp-block-column.is-vertically-aligned-center {
  align-self: center
}

.wp-block-column.is-vertically-aligned-bottom {
  align-self: flex-end
}

.wp-block-column.is-vertically-aligned-stretch {
  align-self: stretch
}

.wp-block-column.is-vertically-aligned-bottom,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-top {
  width: 100%
}


/* ----- Links ----- */

.wordpress-container a {
  color: var(--wp--preset--color--primary);
  text-decoration-color: var(--wp--preset--color--primary);
  text-decoration-thickness: 0.5px !important;
  text-underline-offset: 0.1em
}

.wordpress-container a:hover:not(.wp-element-button) {
  text-decoration: underline;
}

/* ----- Buttons ----- */

.wordpress-container a.wp-block-button__link {
  color: var(--wp--preset--color--background);
}

.wp-block-button__link {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  word-break: break-word;
}

:where(.wp-element-button, .wp-block-button__link) {
  background-color: var(--wp--preset--color--primary);
  border-radius: 999px;
  border-width: 0;
  color: var(--wp--preset--color--background);
  font-family: inherit;
  font-size: var(--wp--preset--font-size--small);
  line-height: 1.5;
  padding-top: 8px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-left: 32px;
  text-decoration: none;
}

.wp-block-button .wp-block-button__link:where(.is-style-outline):not(.has-background),
.wp-block-button:where(.is-style-outline)>.wp-block-button__link:not(.has-background) {
  background-color: initial;
  background-image: none;
}

.wp-block-button .wp-block-button__link:where(.is-style-outline):not(.has-text-color),.wp-block-button:where(.is-style-outline)>.wp-block-button__link:not(.has-text-color) {
  color: currentColor;
}

.wp-block-button.is-style-outline > .wp-block-button__link {
  border: 1px solid var(--wp--preset--color--foreground);
  padding: calc(8px - 1px) calc(32px - 1px)
}

/* ----- Images ----- */

.wp-block-image img {
  height: auto;
}

/* from Petter 2024-04-28 */

/* Examples (Industries, Intensities, Tqargets)
- mer space mellan kolumner

*/
.wp-block-columns-is-layout-flex {
  gap: 80px; /* inte säker  */
}

.wp-block-group-is-layout-flow p {
  font-size: 1rem;
}

.wp-block-image size-medium {
  margin-top: 2rem;
}


/* USPs / Fature set
- minska textstorleken
- linje till vänster om USP
*/

.wp-block-column-is-layout-flow
.css-3narwu {
  text-size: 1rem;
  border-left: 1px solid #D7E3FC;
}

.wp-block-column-is-layout-flow
.css-3narwu:hover {
  border-left: 1px solid #4361EE;

  /* animations */
  -webkit-transition: border .35s linear;
  -o-transition: border .35s linear;
  transition: border .35s linear;

}



/* Ikoner
- vänsterlinjera ikoner
*/
.wp-block-image /* alternativt figure */
figure {
  margin-inline-start: 0px;
}


/* By the numbers / KPI's
- minska avståndet mellan h3 och p

*/


.wp-block-post-content .kpis p,
.wp-block-post-content .kpis h3 {
  margin: 0em;
}



/* Report & Support
- border-left of text section

*/






/* -- COMPANIES -- */

/* List
- all text color: #6C757D
- break row in header e.g. (MUSD) / (tCO2e)
- hover background
- US/UK locale (comma for thousand seperator)
- remove border radius on table
*/

/* header, general for all pages */
{
  border-left: 3px solid #D7E3FC;
}


/* table - remove border radius */
.css-13xy2my {
  border-radius: 0px;
}


table or
.MuiTable-root {
  text-color: #6C757D;
  font-size: 0.8rem;	/* or 14px, on thead + company names at least */
}

thead {
}

.MuiTable-root:hover {
  background: rgb(242, 247, 255, 0.5);
  border-left: 4px solid #3F37C9;

  /* animations */
  -webkit-transition: background .35s linear;
  -o-transition: background .35s linear;
  transition: background .35s linear;

  -webkit-transition: border .35s linear;
  -o-transition: border .35s linear;
  transition: border .35s linear;

}

tr {
  border-bottom: 1px solid #F2F7FF;
}




/* Color Tags
- other background colors
- more left & right padding
- smaller font-size

*/

.css-1yp334a {
  font-size: 0.8rem;
}


.css-9iedg7 {
  padding: 10px 20px;
  font-width: 500;
}


/* Green / Target Set */
.css-1yp334a {
  background: #06D6A0;
}

/* Yellow / Committed */
.css-1yp334a {
  background: #FFD166;
}


/* -- COMPANY -- */

/*
Header

*/

.header .quickfacts {
  text-color: #343A40;
  border-left: 4px solid #C1D3FE;

}


/*
Detailed  - below header
- increase line height
- increase top padding
*/
.css-1qsxih2 {
  padding: 50px 24px;
}

.css-iol86l h2 {
  font-size: 2.2rem;
}

.css-iol86l p {
  font-size: 1.25rem;
  line-height: 1.8rem;
}



/*
Graph box
- increase border radius
- soften + widen box shadow
*/

.css-2njjrf {
  border-radius: 8px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2),0px 0px 0px 0px rgba(0,0,0,0.14),0px 0px 16px 0px rgba(0,0,0,0.08);
}

/*
Graph
-
-
*/

.MuiChartsLegend-row {
  font-size: 0.9rem;
  text-color: #6C757D;
}

.MuiChartsLegend-mark {

}

.MuiChartsAxis-label {
  y:"100"; /* för att texten ska hamna utanför x-värdena */
}



/* -- ABOUT et al  -- */

.wp-block-spacer {

}

.css-3narwu h2 {
  border-left: 4px solid #C1D3FE;
}

/* -- DOCUMENTATION  -- */

/*
Sections
- increase top/bottom spacing
- left border on right column
- increase line height
- decrease font-size

*/

.wp-block-columns-is-layout-flex alt
.wp-container-core-columns-is-layout-1

{
  padding: 2rem 0;
}

hr {
  display: none;
}


.css-3narwu {
  font-size: 1rem;
  line-height: 2;
}

.wp-block-columns figure {
  margin: 0;
}

.wp-block-post-content .two-column-border div:nth-child(2) {
  border-left: 1px solid #b6ccfe;
  padding-left: 3rem;
}

/* END from Petter 2024-04-28 */
